.carr {
    margin: 300px 0 0 150px;
    position: relative;
    z-index: 1;
    width: 90%;
}

.portada {
    margin: 5px;
    position: static;   
}

.carritoTitle {
    margin: 0 0 10px 550px;
    color: red;
    display: flex; /* Usar flexbox para elementos en línea */
    align-items: center; /* Alinear elementos verticalmente al centro */
  }
  
.carritoCount {
    color: chartreuse;
    margin: 0 0 0 10px;
    align-items: center;
}



       
