h1 {
    
    margin: 0 0 15px 40px;
    color: red;
}
       
.fav {
    margin: 120px 0 0 150px;
    position: relative;
    z-index: 1;
    width: 80%;
    height: fit-content;
}

.portada {
    margin: 5px;
    position: static;
    
}

select {
    background-color: brown;
    color: wheat;
    font-size: medium;
}

label {
    color: white;
    font-size: medium;
    margin: 0 5px 0 50px;
}